.overlay {
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.51);
  backdrop-filter: blur(5px);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.overlay.visible {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
  pointer-events: all;
}

.cards_container {
  position: relative;
  width: fit-content;
}

.card {
  background: var(--mediumGreen);
  border-radius: 8px;
  box-shadow: 5px 6px 10px rgb(0, 0, 0);
  width: 250px;
  height: 280px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card_dark {
  background: var(--darkGreen);
}

.cardInvisible {
  opacity: 0;
}

.cardh3 {
  font-size: 20px;
  color: white;
  font-family: "inter";
  font-weight: 700;
  text-align: center;
}

.card:hover {
  background-color: #1e2822;
}

.cardImg {
  max-height: 50%;
  margin-top: 30px;
  border-radius: 10px;
  width: 80%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 15px;
}

.text {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  padding-bottom: 10px;
  width: 90%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--lightBlue);
  font-family: "inter";
  font-weight: 700;
  border-bottom: 1px solid white;
  font-style: italic;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.expanded_text {
  opacity: 1;
}

.foot {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 80%;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: rgb(153, 153, 153);
  font-family: "inter";
  font-weight: 700;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.expanded_foot {
  opacity: 1;
}

.spanCard {
  font-size: 15px;
  color: white;
}

.modalC_dark {
  background-color: var(--darkGreen);
}

.link_container {
  background-color: var(--lightBlue);
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.expanded_linkC {
  opacity: 1;
}

.linkCode {
  cursor: pointer;
  pointer-events: all;
  font-family: "inter";
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.card.modal_card:hover {
  background: var(--mediumGreen) !important;
}

.card.modalC_dark:hover {
  background: var(--darkGreen) !important;
}

/* .modal_card::-webkit-scrollbar {
  background: transparent;
} */

/* .modal_card::-webkit-scrollbar-thumb {
  background-color: #0a0f0b;
  opacity: 0;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
} */
