.card {
  background: var(--darkGreen);
  border-radius: 8px;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.697);
  width: 250px;
  height: 280px;
  cursor: pointer;
  overflow: hidden;
  color: white;
  font-family: "inter";
  font-weight: 700;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.card:hover {
  background-color: #1e2822;
}

.card img {
  border: 4px solid var(--lightBlue);

  width: 90%;
  margin-top: 30px;
  border-radius: 10px;
  height: 60%;
  object-fit: cover;
  margin-bottom: 15px;
}
