@import url("../../utils/fonts/index.css");
@import url("../../utils/colors/colors.css");

.studies_container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  margin-top: 30px;
}

.scroll_container {
  height: 600px;
  overflow: auto;
  width: 80%;
  /* padding: 20px 0; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.h1_container {
  margin-top: 20px;
  margin-left: 60px;
}

.h1_container h1 {
  font-family: var(--archblack);
  color: var(--mediumGreen);
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}

.h1_container.h1C_dark h1 {
  color: white;
}

.spanGeneric {
  color: white;
  transition: all 0.3s ease-in-out;
}

.spanG_dark {
  color: var(--lightBlue);
}

.date {
  color: rgb(255, 255, 255);
  font-family: "inter";
  font-size: 26px;
  opacity: 1 !important;
  font-size: 1.5rem !important;
}

.timeline_element {
  transform: scale(0.8, 0.8);
}

.timeline_img {
  cursor: pointer;
  margin-left: 80px;
  border-radius: 10px;
  background-size: cover;
  width: 300px;
  height: 160px;
}

.timeline_h1 {
  font-family: "inter";
  font-weight: 800;
  color: white;
  text-align: center;

  margin-top: 10px;
}

.timeline_h3 {
  font-family: "inter";
  color: white;
  font-weight: 500;
  margin-top: 6px;
  text-align: center;
}

.scroll_container::-webkit-scrollbar {
  width: 8px;
}

.scroll_container::-webkit-scrollbar-thumb {
  background-color: #0a0f0b;
  border-radius: 4px;
}

.icon {
  animation: none !important;
  -webkit-animation: none !important;
}
