@import url("../../utils/fonts/index.css");
@import url("../../utils/colors/colors.css");

.studies_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin-top: 30px;
  overflow: auto;
}

.h1_container {
  margin-top: 20px;
  margin-left: 60px;
}

.h1_container h1 {
  font-family: var(--archblack);
  color: white;
  font-size: 40px;
}

.timeline_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.date {
  color: rgb(255, 255, 255);
  font-family: "inter";
  font-size: 26px;
  opacity: 1 !important;
  font-size: 1.5rem !important;
}

.timeline_element {
  transform: scale(0.7, 0.7);
}

.vertical-timeline-element-content {
  box-shadow: none;
}

.timeline_img {
  cursor: pointer;
  margin-left: 80px;
  border-radius: 10px;
  background-size: cover;
  width: 300px;
  height: 160px;
}

.timeline_h1 {
  font-family: "inter";
  font-weight: 800;
  color: white;
  text-align: center;

  margin-top: 10px;
}

.timeline_h3 {
  font-family: "inter";
  color: white;
  font-weight: 500;
  margin-top: 6px;
  text-align: center;
}

.studies_container::-webkit-scrollbar {
  width: 8px;
}

.studies_container::-webkit-scrollbar-thumb {
  background-color: #0a0f0b;
  border-radius: 4px;
}

.icon {
  animation: none !important;
  -webkit-animation: none !important;
}
