@import url("../../utils/fonts/index.css");
@import url("../../utils/colors/colors.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contact_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin-top: 30px;
}

.h1_container {
  margin-top: 20px;
  margin-left: 60px;
}

.h1_container h1 {
  font-family: var(--archblack);
  color: var(--mediumGreen);
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}

.h1_container.h1C_dark h1 {
  color: white;
}

.spanGeneric {
  color: white;
  transition: all 0.3s ease-in-out;
}

.spanG_dark {
  color: var(--lightBlue);
}

h3 {
  font-family: var(--archblack);
  color: white;
}

.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 100px;
}

.form_container {
  background-color: var(--mediumGreen);
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 7px;
  height: 270px;
  transition: all 0.3s ease-in-out;
}

.formC_dark {
  background-color: var(--lightBlue);
}

label {
  font-family: "inter";
  font-weight: 700;
  color: white;
  font-size: 22px;
}

.input_container {
  display: flex;
}

.nameEmail_container {
  display: flex;
  flex-direction: column;
  border-right: 4px solid white;
  padding-right: 50px;
}

input {
  border-radius: 7px;
  height: 35px;
  width: 250px;
  border: 0;
  margin: 5px;
  padding-left: 10px;
}

textarea {
  margin: 5px;
  border-radius: 7px;
  border: 0;
  padding-left: 10px;
  padding-top: 5px;
  resize: none;
  width: 300px;
  height: 110px;
}

.message_container {
  display: flex;
  padding-left: 50px;
  flex-direction: column;
}

.button_container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
}

.button_container button {
  cursor: pointer;

  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: 0;

  background-color: white;
  color: var(--lightBlue);
  font-family: "inter";
  font-weight: 700;
  font-size: 17px;
  margin-right: 50px;
  transition: all 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttonC_dark button {
  color: white;
  background-color: #27372e;
}

.button_container button:hover {
  background-color: var(--darkGreen);
}

.extrainfo_container {
  margin-top: 20px;
}

.media_container {
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.icon {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.contact_h3 {
  color: var(--mediumGreen);
  transition: all 0.3s ease-in-out;
}

.cH3_dark {
  color: white;
}

.icon:hover {
  transform: scale(1.2, 1.2);
}

.counterMsg {
  color: white;
  font-family: "inter";
  font-weight: 400;
  font-size: 12px;
  text-align: end;
}
