@import url("../../utils/fonts/index.css");
@import url("../../utils/colors/colors.css");

.container {
  padding: 20px;
  position: relative;
}

.card_container {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.expanded_card {
  background: var(--darkGreen);
  border-radius: 8px;
  width: 50vw;
  height: 80vh;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.expanded_card img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  max-height: 60%;
  margin-left: 80px;
  margin-top: 50px;
}

.expanded_card h1 {
  color: white;
  font-family: "inter";
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.expanded_text {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  padding-bottom: 20px;
  width: 90%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--lightBlue);
  font-family: "inter";
  font-weight: 700;
  border-bottom: 1px solid white;
  font-style: italic;
}

.expanded_foot {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 80%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: rgb(153, 153, 153);
  font-family: "inter";
  font-weight: 700;
}

.spanCard {
  font-size: 15px;
  color: white;
}

.expanded_card::-webkit-scrollbar {
  width: 8px;
}

.expanded_card::-webkit-scrollbar-thumb {
  background-color: #0a0f0b;
  border-radius: 4px;
}
