@import url("../../utils/fonts/index.css");
@import url("../../utils/colors/colors.css");

.container {
  padding: 20px;
}

.card_container {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 10;
}



@media (max-width: 767px) {
  .card_container {
    flex-direction: column;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}