@import url("../utils/colors/colors.css");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page_container {
  width: 100%;
  height: 100vh;
}

.slides {
  width: 100%;
  height: 100vh;
  background: rgb(19, 19, 19);
  background: linear-gradient(
      0deg,
      rgba(19, 19, 19, 1) 2%,
      rgba(39, 55, 46, 1) 40%,
      rgba(19, 19, 19, 1) 88%
    ),
    url("../utils/images/noisy-texture-100x100-o3-d17-c-f34379-t1.png");
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;
  justify-content: center;
}
