@import url("../utils/colors/colors.css");

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page_container {
  width: 100%;
  height: 100vh;
}

.slides {
  width: 100%;
  height: 100vh;
  background: rgb(19, 19, 19);
  background: linear-gradient(
      0deg,
      rgba(81, 130, 103, 1) 10%,
      rgba(173, 213, 191, 1) 37%,
      rgba(81, 130, 103, 1) 88%
    ),
    url("https://res.cloudinary.com/ded9gllk0/image/upload/v1742065157/noisy-texture-200x200-o8-d13-c-f34379-t1_jhi361.png");
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.slides_dark {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 19, 1) 2%,
      rgba(39, 55, 46, 1) 40%,
      rgba(19, 19, 19, 1) 88%
    ),
    url("https://res.cloudinary.com/ded9gllk0/image/upload/v1740783290/noisy-texture-100x100-o3-d17-c-f34379-t1_abdmpe.png");
}

.loader_container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: var(--lightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid var(--darkGreen);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.fadeLoader {
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 728px) {
}
