@import url("../../utils/fonts/index.css");
@import url("../../utils/colors/colors.css");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.home_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.h1_container {
  width: 400px;
  margin-right: 50px;
}

.h1_container h1 {
  line-height: 1.1;
  font-size: 45px;
  font-family: var(--archblack);
  color: white;
  margin-bottom: 70px;
  margin-right: 90px;
}

span {
  color: var(--lightBlue);
}

.icon {
  /* background-image: url("https://res.cloudinary.com/ded9gllk0/image/upload/v1740783290/LogoDpx_f5zw6b.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 110px;
  width: 200px;
  position: relative;
  bottom: 60px;
}

.nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  margin-top: 30px;
}

.menu_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 100px;
  border: 1px solid var(--lightBlue);
  padding: 12px;
  border-radius: 16px;
  font-family: "inter";
  font-weight: 500;
  color: white;
  position: fixed;
  left: 480px;
  z-index: 2;
  backdrop-filter: blur(7px);
}

.menu_container div {
  cursor: pointer;
}

.menu_container div:hover {
  color: var(--lightBlue);
}

.home_focus,
.about_focus,
.projects_focus,
.studies_focus,
.experience_focus {
  color: var(--lightBlue);
}

.theme_container {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-bottom: 100px;
  background-color: var(--lightBlue);
  padding: 12px;
  border-radius: 10px;
  width: 85px;
}

.theme_container button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: "inter";
  font-weight: 500;
  /* z-index: 2; */
}

.theme_container button:hover {
  color: white;
}

.theme_container svg {
  cursor: pointer;
  font-size: 20px;
}

.theme_container svg:hover {
  color: white;
}

.image_container {
  height: 400px;
  width: 800px;
}
.image {
  cursor: pointer;
  /* background-color: green; */
  /* background-image: url("https://res.cloudinary.com/ded9gllk0/image/upload/v1740783294/casaLowPoly_j6v8rb.png"); */
  background-position: center;
  transform: translate(50px, -60px);

  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  filter: drop-shadow(1px 12px 4px rgba(19, 19, 19, 0.729));
  transition: transform 0.5s ease-in-out;
  clip-path: inset(20px 120px 20px 85px);
}

.moved {
  transform: translate(50px, -125px);
}

.imgInf {
  font-family: "inter";
  font-weight: 600;
  opacity: 0;
  position: relative;
  left: 320px;
  bottom: 30px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 16px;
}

.visible {
  opacity: 1;
}

.main_container {
  margin-top: 50px;
  margin-right: 30px;
}
